.bac-login{
    
    background-color: black;
    width: 100%;
    min-height:100vh;

}


    .logo{

width: 110px;
display: block;
margin-left: auto;
margin-right: auto;
margin-top:150px;


    }


    .login-card{

width:40%;
background-color: white;
margin-top:50px;
display: block;
margin-left: auto;
margin-right: auto;
height:50vh;
border-radius: 10px;
margin-top: 50px;
padding-top: 35px;


    }


    .btn-login-admin{

        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        min-height:7vh;
        font-family: 'Oxygen', sans-serif;
        font-weight: 700;
        color: white;
        background-color: black;
        border: transparent;
        outline: none !important;
        border-radius:8px;

    }

    input{

width: 80%;
display: block;
margin-left: auto;
margin-right: auto;
margin-top:45px;
font-family: 'Oxygen', sans-serif;
padding: 10px 10px 10px 10px;
font-weight: 500;
font-size:12px;
border-top: transparent;
border-left: transparent;
border-right: transparent;
border-bottom: 2px solid black;
outline: none;

    }


    /** @media query for mobile **/

    @media only screen and (min-width: 320px) and (max-width: 480px) {

        .login-card{

            width:100%;
            background-color: white;
            margin-top:50px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            height:50vh;
            border-radius: 5px;
            margin-top: 35px;
            padding-top: 25px;
            
            
                }
            


                .logo{

                    width: 110px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top:100px;
                    
                    
                        }


    }

    /*end*/



/**media query mobile game mode**/

 /*landscape*/
 @media only screen and (min-width: 568px) and (max-width: 812px) and (orientation:landscape) {

 


    .logo{

        width: 110px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top:50px;
        
        
            }




    .login-card{

        width:100%;
        background-color: white;
        margin-top:50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height:100vh;
        border-radius: 5px;
        margin-top: 35px;
        padding-top: 25px;
        margin-bottom:50px;
        
        }


        .btn-login-admin{

            width: 80%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            min-height:18vh;
            font-family: 'Oxygen', sans-serif;
            font-weight: 700;
            color: white;
            background-color: black;
            border: transparent;
            outline: none !important;
            border-radius:8px;
    
        }
        

 }

 /*end*/


 /**ipad**/
  /*landscape*/


@media screen 
and (device-width: 768px) 
and (device-height: 1024px){

    .login-card{
        width:80%;
        height:40vh;
    }

}

/**end**/




 /**ipadpro**/
  /*landscape*/


  @media screen 
  and (device-width: 1024px) 
  and (device-height: 1366px){
  
      .login-card{
          width:80%;
          height:30vh;
      }
  
  }
  
  /**end**/


/**6.0 inches phne **/
@media screen 
and (max-width:720px)
and (max-height:1440px)
 and (max-resolution: 268dpi)
 and (-webkit-max-device-pixel-ratio:2)
 {


    .login-card{

        width:100%;
        background-color: white;
        margin-top:50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height:50vh;
        border-radius: 5px;
        margin-top: 35px;
        padding-top: 25px;
        
        
            }
        


            .logo{

                width: 110px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top:100px;
                
                
                    }


 }

 /**end**/