

/** mobile query for mobile  normal mode**/


@media only screen and (min-width: 320px) and (max-width: 480px) {


.product-title{

    font-family: 'Oswald', sans-serif;
    font-size:12px;
    padding-left:100px;
    margin-top:-180px;
}


.rr{
    padding-left: 100px;
    margin-top:10px;
    font-family: 'Lato', sans-serif;
  font-size:11px;
   }

   .rr2{
    padding-left: 100px;
    margin-top:-5px;
    padding-bottom: 0px;
    font-family: 'Lato', sans-serif;
    font-size:11px;
    }

    .logo{
        width:65px;
        margin-top:15px;
        margin-left:25px;
    }

    .bac-top-nav{
        background-color:yellow;
        width: 100%;
        min-height:9vh;
        }


        .icon-user{

            width: 30px;
            margin-top: -15px;
           
        
        }
        
        .icon-user-2{
        
            width: 28px;
            margin-top: -15px;
        
        }
        

        .floater{
            float: right;
            margin-right:30px;
        
        }


.icon-car-brand{

    width:30px;
    margin-top: 15px;
    margin-right:20px;
    margin-left:auto;
    
    }

    .icon-car-brand2{

        width:30px;
        margin-top: 22px;
        margin-right:20px;
    
        }


        .icon-car-brand3{

            width:25px;
            margin-top: 15px;
            margin-right:20px;
            
            }
            
            .icon-car-brand4{
    
                width:26px;
                margin-top: 15px;
                margin-right:20px;
                
                }
                
    
    
                .icon-car-brand5{
    
                    width:25px;
                    margin-top: 15px;
                    margin-right:20px;
    
                }
    
    
    
                .icon-car-brand6{
    
                    width:20px;
                    margin-top: 15px;
                    margin-right:20px;
    
                }
    
                .side{
                    width: 20px;
                    float: right;
                    margin-top: 10px;
                }

            
           
                .girls{
                    width: 300px;
                   margin-top: 10px;
                   float:right;
                  
                 
                }
    
                .man{
                    display: none;
                }


                .intro-text{
                    text-align:center;
                    font-family: 'Noto Sans JP', sans-serif;
                    font-weight: 900;
                    font-size: 20px;
                    color: white;
                    margin-top: 68px;
                }
    
      .intro-p{
                    color: silver;
                    text-align: center;
                    margin-top:18px;
                    font-size: 10.5px;
                  }

                  .bac-img{
                    background-image: url(../images/ok.png);
                    min-height:50vh;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position-y: -125px;
                    background-color: whitesmoke;
                    background-attachment:scroll;
                    }



    .card-components{

        width: 80%;
        background-color: white;
        min-height:46vh;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.041), 0 6px 20px 0 rgba(0, 0, 0, 0.014);
        border-radius:5px;
        margin-bottom:50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: black;
        
            }


.bottom-icon{
    width: 28px;
    margin-top:50px;
    margin-bottom:30px;
}
        

.footer-notice{
    color: silver;
    font-size: 11px;
    line-height: 22px;
}


.header-footer-link{
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-top: 50px;
    font-size:12.5px;
    margin-bottom: 30px;
}

.foo-link{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 10px;
    color: silver;
    margin-bottom:23px;
}



}


/**end**/


/** media query for 6.0 screen size **/

@media screen 
and (max-width:720px)
and (max-height:1440px)
 and (max-resolution: 268dpi)
 and (-webkit-max-device-pixel-ratio:2)
 {


    .listing-card-category{
        background-color: white;
        border: transparent;
        min-height:17vh;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom:20px;
       }
    

.product-title{

    font-family: 'Oswald', sans-serif;
    font-size:12px;
    padding-left:130px;
    margin-top:-230px;
}


.rr{
    padding-left: 130px;
    margin-top:10px;
    font-family: 'Lato', sans-serif;
  font-size:11px;
   }

   .rr2{
    padding-left: 130px;
    margin-top:-5px;
    padding-bottom: 0px;
    font-family: 'Lato', sans-serif;
    font-size:11px;
    }


    .logo{
        width:65px;
        margin-top:15px;
        margin-left:25px;
    }

    .bac-top-nav{
        background-color:yellow;
        width: 100%;
        min-height:9vh;
        }


        .icon-user{

            width: 30px;
            margin-top: -15px;
           
        
        }
        
        .icon-user-2{
        
            width: 28px;
            margin-top: -15px;
        
        }
        

        .floater{
            float: right;
            margin-right:30px;
        
        }


.icon-car-brand{

    width:30px;
    margin-top: 15px;
    margin-right:20px;
    margin-left:auto;
    
    }

    .icon-car-brand2{

        width:30px;
        margin-top: 22px;
        margin-right:20px;
    
        }


        .icon-car-brand3{

            width:25px;
            margin-top: 15px;
            margin-right:20px;
            
            }
            
            .icon-car-brand4{
    
                width:26px;
                margin-top: 15px;
                margin-right:20px;
                
                }
                
    
    
                .icon-car-brand5{
    
                    width:25px;
                    margin-top: 15px;
                    margin-right:20px;
    
                }
    
    
    
                .icon-car-brand6{
    
                    width:20px;
                    margin-top: 15px;
                    margin-right:20px;
    
                }
    
                .side{
                    width: 20px;
                    float: right;
                    margin-top: 10px;
                }

            
           
                .girls{
                    width: 300px;
                   margin-top: 10px;
                   float:right;
                  
                 
                }
    
                .man{
                    display: none;
                }


                .intro-text{
                    text-align:center;
                    font-family: 'Noto Sans JP', sans-serif;
                    font-weight: 900;
                    font-size: 20px;
                    color: white;
                    margin-top: 68px;
                }
    
      .intro-p{
                    color: silver;
                    text-align: center;
                    margin-top:18px;
                    font-size: 10.5px;
                  }

                  .bac-img{
                    background-image: url(../images/ok.png);
                    min-height:50vh;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position-y: -125px;
                    background-color: whitesmoke;
                    background-attachment:scroll;
                    }



    .card-components{

        width: 65%;
        background-color: white;
        min-height:40vh;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.041), 0 6px 20px 0 rgba(0, 0, 0, 0.014);
        border-radius:5px;
        margin-bottom:50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: black;
        
            }


.bottom-icon{
    width: 28px;
    margin-top:50px;
    margin-bottom:30px;
}
        

.footer-notice{
    color: silver;
    font-size: 11px;
    line-height: 22px;
}


.header-footer-link{
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-top: 50px;
    font-size:12.5px;
    margin-bottom: 30px;
}

.foo-link{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 10px;
    color: silver;
    margin-bottom:23px;
}



 }


 /**end*/




 /** media query for mobile game mode */


/**media query mobile game mode**/

 /*landscape*/
 @media only screen and (min-width: 568px) and (max-width: 812px) and (orientation:landscape) {

  
    .product-title{

        font-family: 'Oswald', sans-serif;
        font-size:13px;
        padding-left: 200px;
        margin-top:-80px;
    }


.rr{
    padding-left: 200px;
    margin-top:10px;
    font-family: 'Lato', sans-serif;
  font-size:11px;
   
    
}

.rr2{
    padding-left: 200px;
    margin-top:10px;
    padding-bottom: 7px;
    font-family: 'Lato', sans-serif;
    font-size:11px;
    }


    .listing-card-category{
        background-color: white;
        border: transparent;
        min-height:27vh;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom:20px;
    }
    



    .header-footer-link{
        color: white;
        font-family: 'Oswald', sans-serif;
        margin-top: 50px;
        font-size:14.5px;
        margin-bottom: 30px;
    }

.logo{
    width: 55px;
}

.bac-top-nav{
    background-color:yellow;
    width: 100%;
    min-height:9vh;
    }


    .icon-user{

        width: 30px;
        margin-top: -15px;
       
    
    }
    
    .icon-user-2{
    
        width: 28px;
        margin-top: -15px;
    
    }

    .side{
        display: none;
    }

    .man{
        display: none;
    }




    .bac-img{
        background-image: url(../images/ok.png);
        min-height: 43vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -125px;
        background-color: whitesmoke;
        background-attachment:scroll;
        }


    .card-components{

        width: 60%;
        background-color: white;
        min-height:90vh;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.041), 0 6px 20px 0 rgba(0, 0, 0, 0.014);
        border-radius:5px;
        margin-bottom:50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: black;
        
            }



 }


 /**end **/