@font-face {
    font-family: "proxima";
    src: url("../font/proxima.otf");
    src:
    url("../font/proxima.otf") format("otf"),
   
    }

    .header-menu{
        font-family: proxima;
        color:whitesmoke;
        padding-left:30px;
        font-weight:600;
        font-size:14px;
       }

       .header-menu-top{
        margin-top:30px !important;
        margin-bottom:20px;
       }


.color-2{
    background-color: black;
    width: 100%;
    height:120vh;
}

.color-3{
    background-color: whitesmoke;
    width: 100%;
    min-height: 120vh;
}

.bac-color{
    background-color:white;
    width: 100%;
    min-height: 7vh;
    box-shadow: 2px 3px #88888838;
}


body{
    overflow-x: hidden;
}


.brand-logo{
    width: 35px;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}

.icon-account{
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

.line-divider{
    border-top: 1px solid rgba(245, 245, 245, 0.199);
    width: 120%;
}

a:hover{
    color:grey;
    text-decoration: none;
}

.icon-size{
    width:22px;
    float: right;
}

li{
    list-style: none;
    color: grey;
    font-family: proxima;
    font-size:13.5px;
    margin-bottom: 12px;
}

li:hover{
    color: yellow;
}

.btn-dash{
    float: right;
    background-color: black;
    color: white;
    font-family: proxima;
    margin-top: 10px;
    margin-right: 30px;
    height:4.5vh;
    border: transparent;
    border-radius: 3px;
    width:130px;
    font-size:14px;
    font-weight: 700;
}


.bac-img{
    background-image: url('../icons/spare.jpeg');
    background-repeat: no-repeat;
    min-height: 35vh;
    background-size: cover;

}

.intro-dash{

    font-family: 'Noto Sans JP', sans-serif;
    margin-top:80px;
}

.intro-dash-agent{
    font-family: 'Noto Sans JP', sans-serif;
    margin-top:45px;   
}

.outro-dash{
    font-family: proxima;
    font-weight: 700;
    margin-top: 20px;
}


.market-place-intro{

    font-family: 'Noto Sans JP', sans-serif;
    margin-top:35px;
    margin-left: 43px;
}

.card-panel{
    width: 80%;
    background-color: white;
    min-height:30vh;
    border-radius: 3px;
    margin-top:30px;
    padding: 35px 35px 35px 35px;
}

.header-card{
    
    
    font-family: 'Noto Sans JP', sans-serif;
    font-size:14px;   
}

.card-text-outro{
    font-family: proxima;
    font-weight: 500;
    margin-top: 20px;
    font-size:14px ;
}

.arr-right{
    float: right;
}

.card-component-module{

    width: 100%;
    background-color: white;
    min-height: 50vh;
    border-radius: 3px;
    margin-top:25px;
    padding: 35px 35px 35px 35px;
}


.input-1{
    width: 48%;
    margin-left: 10px;
    border: 2px solid rgba(192, 192, 192, 0.603);
    padding: 15px 15px 15px 15px;
    border-radius: 3px;
    font-family: proxima;
   font-size: 15px;
   margin-top: 20px;
   margin-bottom: 20px;

   
}